.about{
    height: 38.5vw;
    width: 100%;
    background-color: rgb(143, 209, 221);
    font-size: 4vw;
    font-weight: 700;
}

.card-footer{
    font-weight: 900;
    background-color: whitesmoke;
color: white;
}
